// Disable some lint rules for necessary overriding third-party styling
// stylelint-disable selector-no-qualifying-type, declaration-no-important
.table .form-control {
    // a hack for responsive tables
    width: 100% !important;
}

// replace DT spacings with our own (saner) spacings
table.dataTable,
.dt-buttons,
.dataTables_filter,
.dataTables_paginate,
.dataTables_info,
.dataTables_length {
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: setting(spacing, element) !important;

    label {
        margin-bottom: 0 !important;
    }
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

@media (min-width: $screen-sm-min) {
    .dataTables_paginate,
    .dataTables_info,
    .dataTables_length {
        display: inline-block;
    }

    .dataTables_paginate {
        float: right;
    }

    .dataTables_length {
        margin-right: setting(spacing, element-narrow);

        &::after {
            padding-left: setting(spacing, element-narrow);
            color: $table-border-color;
            content: '|';
        }
    }
}
// stylelint-enable selector-no-qualifying-type, declaration-no-important
